TYPEORM_URL=postgres://postgres@127.0.0.1:5432/jovertpalonpon
TYPEORM_SYNCHRONIZE=true
TYPEORM_ENTITIES=backend/entities/*.ts
TYPEORM_MIGRATIONS=backend/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=backend/migrations